<h1>show page all products</h1>

<% @products.each do |product| %>

<%= product.title %>
<%= product.description %>
<%= product.price %>
  <%= link_to "[Delete]", box_product_path( @box, product ), method: :delete, data: { confirm: "Are you sure?" } %>
<p><img src="<%= product.image %>"></p>

<% end %>

<hr>

<%= render "products/form" %>
